[Unit]
Description = Gunicorn instance to serve GeoIP2 IPlookup API Service
After = network.target

[Service]
user = www-data
group = www-data
WorkingDirectory = /opt/geoip2
PIDFile=/run/geoip2.pid
ExecStart = /usr/local/bin/gunicorn --pid /run/geoip2.pid -b localhost:5001 iplookup
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy = multi-user.target

